/vendor/
/node_modules/

.env

# Laravel storage
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Vite / frontend build
/public/build
/public/hot

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db